{% extends 'layout.html' %} {% block content %}
{% load static %}

{% block extrastyles %}
    <link rel="stylesheet" type="text/css"
        href="{% static "css/blog_posts.css" %}" />
{% endblock %}
<div class='header'>
    <h2>Your blogposts</h2>
    <a href="{% url 'postApp:create_blog_post' %}">Create New!</a>
</div>
<ul class="blogs_list">
  {% for blog in blogs %}
  <li class="blogs_list_item">
    <a href="{% url 'postApp:blog' blog.id %}">
        <div class='blogs_list_item_title'>
            <span>{{ blog.title }} by {{blog.author}}</span>
        </div>
        <div class="blogs_list_item_info">
            <span> Comments: {{ blog.comments }} </span>
            <div>
                <span>
                    &#128077 - {{ blog.reactions.thumb_up }} /
                    {{ blog.reactions.thumb_down}} - &#128078;
                    </span
                    >
                </div>
            </div>
        </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
