{% extends 'layout.html' %} {% block content %}
{% load static %}
{% load insert_link %}

{% block extrastyles %}
    <link rel="stylesheet" type="text/css"
        href="{% static "css/blog_post.css" %}" />
{% endblock %}
<h2>{{ blog.title }} by {{blog.author}}</h2>

<p>{{blog.content|insert_link}}</p>

<div class="blog_info">
    <div>
        <span>
            &#128077 - {{ blog.reactions.thumb_up }} /
            {{ blog.reactions.thumb_down}} - &#128078;
            </span
            >
        </div>

        <div class='comments'>
            <span> Comments: {{ blog.comments_count }} </span>
            <ul>
                {% for comment in blog.comments %} 
                    <li class="blogs_list_item">
                        <span class="blogs_list_item_info">
                            {{comment.user.first_name}} {{comment.user.last_name}} commented: {{comment.content}}
                        </span>
                    </li>  
                {% endfor %} 
            </ul>
            <form
                class="form-with-validation"
                action="{% url 'postApp:blog' blog.id %}"
                method="post"
                enctype="multipart/form-data"
                >
                    {% csrf_token %} {{ comment_form }}
                <button class="form-submit">Create Comment</button>
            </form>
        </div>
        {{post}} kkk
        <p>Hashtags: {% for hashtag in post.hashtags %}#{{ hashtag }} {% endfor %}</p>

    </div>
{% endblock %}


